version: '3.8'

services:
  consul_demo:
    build:
      context: .
      dockerfile: Dockerfile
    image: consul-demo:1.0
    container_name: consul-demo
    ports:
      - "8090:8090"
    environment:
      - JAVA_OPTS=-Xms64m -Xmx256m
    networks:
      - my-network

networks:
  my-network:
    external: true